body {
    background-color: #ffe4f4;
}

container {
    width: 60%;
    height: auto;
    margin: auto;
    /* background-color: yellow; */
    display: grid;
    gap: 5px;

    grid-template: 200px 70px/auto;
    grid-template-areas: " head "
                         " nav "
                         " article "
}
.head {
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 3fr;
}

.logga {
    background-color: red;
    width: 100%;
    height: 100%;
    border-right: 2px solid black;
}

header {
    background-color: aquamarine;
    width: auto;
    height: 100%;
}

nav {
    /* background-color: blueviolet; */
    width: 100%;
    height: 70px;
    display: grid;
    gap: 5px;
    grid-template-areas: " knapp knapp knapp "
}

.knapp {
    background-color: #beb2f9;
    width: 50%;
    height: 100%;
    margin: auto;
    border: 2px solid black;
}

article {
    background-color: darkgoldenrod;
    height: auto;
    width: 100%;
    margin: auto;
    display: grid;
    gap: 5px;
    grid-template-areas: " box box box "
}

.box {
    background-color: lightcoral;
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 5px;
    border: 2px solid black;
}

footer {
    background-color: green;
    width: 60%;
    height: 80px;
    margin: auto;
}

p {
    text-align: center;
}