body {
    background-color: #ffe4f4;
}

container {
    width: 60%;
    height: auto;
    margin: auto;
    background-color: #ffe4f4;
    display: grid;
    gap: 5px;

    grid-template: 1fr 70px 437px/auto;
    grid-template-areas: " head "
                         " nav "
                         " article "
                         " footer "
}
.head {
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: grid;
    gap: 5px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
}

.logga {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    border-right: 2px solid black;
}

header {
    background-color: #ffe4f4;
    width: auto;
    height: 100%;
}

nav {
    /* background-color: blueviolet; */
    width: 100%;
    height: 70px;
    display: grid;
    gap: 5px;
    grid-template-areas: " knapp knapp knapp "
}

.knapp {
    background-color: #beb2f9;
    width: 50%;
    height: 100%;
    margin: auto;
    border: 2px solid black;
}

article {
    /* background-color: darkgoldenrod; */
    height: auto;
    width: 100%;
    margin: auto;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: " box box box "
}

.sida1-box {
    height: 100%;
    width: 100%;
    display: grid;
    gap: 5px;
    grid-template-rows: auto auto ;
    grid-template-areas: " row "
                         " row "
}

.sida3-box {
    height: auto;
    width: 100%;
    /* display: grid; */
    gap: 5px;
    /* grid-template-columns: 4fr 1fr ;
    grid-template-rows: auto auto ;
    grid-template-areas: " card mb-3 card"
                         " card mb-3 card" */
}

.box {
    background-color: lightcoral;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-bottom: 5px;
    border: 2px solid black;
}

footer {
    background-color: #b1635b;
    width: 100%;
    height: auto;
    margin-top: auto;
    border: 2px solid black;
}
.footer-p {
    text-align: center;
}

.knapp-p {
    text-align: center;
    padding-top: 17px;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 2px solid black;
}

h1 {
    padding-top: 70px;
    font-family: serif;
    font-size: 300%;
    text-align: center;
}

href {
    text-decoration: none;
    color: black;
}